.toc-block {margin:0 0 1.3846153846153846em}

.toc-header {
  font:inherit;
  color:inherit;
  font-weight:bold;
  margin:0 0 .4em .2em;
  padding:0;
}

.toc-stage .toc-back,
.toc-stage .toc-point,
.toc-block .marker {visibility:hidden}

.toc-stage:target:before {
  content:"";
  display:block;
  height:9px;
  height:.6923076923076923rem;
  margin-top:-9px;
  margin-top:-.6923076923076923rem;
}

.toc-block ol {
  list-style:none;
  margin:.2em 0 0 1.2em; /* indent */
  padding:0;
  overflow:hidden;
}

.toc-block li {
  margin:0;
  padding:0 0 0 1.4em; /* indent + .2em */
  position:relative;
}

.toc-block ol ol {margin:0 0 0 .2em}

.toc-block li:before {
  content:"";
  display:block;
  width:0;
  height:999em;
  border-left:1px solid;
  position:absolute;
  bottom:.7em;
  left:0;
  margin-bottom:-1px;
}

.toc-block li:after {
  content:"";
  display:block;
  width:1em; /* indent - .2em */
  border-top:1px solid;
  position:absolute;
  top:.7em;
  bottom:0;
  left:0;
  background-color:white; /* same with page background color */
}

.toc-block li:target > .marker,
.toc-block li a:hover + .marker,
.toc-stage:hover .toc-back,
.toc-stage:hover .toc-point,
.toc-stage:target .toc-back,
.toc-stage:target .toc-point {visibility:visible}